.leaderboardTitle {
    margin: 0 auto;
    padding: 0;
    width: 70%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bolder;
}

#leaderboardTable {
    max-width: 70%;
    margin: 25px 0;
    padding: 0;
}

.crownIcn {
    font-size: 24px;
    padding-left: 5px;
}

/* media queries */
@media screen and (max-width: 1500px) {
    #leaderboardTable {
        max-width: 80vw !important;
    }
}

@media screen and (max-width: 1200px) {
    #leaderboardTable {
        max-width: 90vw !important;
    }
}

@media screen and (max-width: 775px) {
    .leaderboardTitle {
        margin-top: 1rem;
        font-size: 45px;
    }
}

@media screen and (max-width: 650px) {
    #leaderboardTable {
        max-width: 95vw !important;
    }

    .crownIcn {
        font-size: 20px;
        padding-left: 5px;
    }
}

@media screen and (max-width: 530px) {
    #leaderboardTable {
        max-width: 100vw !important;
        padding: 0 10px;
    }

    .leaderboardTitle {
        font-size: 40px !important;
    }

    .crownIcn {
        font-size: 18px;
        padding-left: 3px;
        padding-bottom: 3px;
    }

    #leaderboardPosition {
        width: 2%;
    }

    #leaderBoardAthlete {
        width: 35%;
    }
}

@media screen and (max-width: 485px) {
    .leaderboardWods {
        display: none;
    }
}

@media screen and (max-width: 460px) {
    #leaderboardTable {
        margin-top: 16px;
        max-width: 100vw !important;
        padding: 0 10px;
    }

    .leaderboardTitle {
        margin-top: 0.7rem;
        font-size: 34px !important;
    }

    .crownIcn {
        font-size: 16px;
        padding-left: 3px;
        padding-bottom: 3px;
    }

    #leaderboardPosition {
        width: 1%;
    }

    #leaderboardAthlete {
        width: 40%;
    }

    #leaderboardScore {
        padding: 6px 2px;
    }
}

@media screen and (max-width: 321px) {
    #leaderboardTable {
        padding: 0 5px;
    }

    .crownIcn {
        font-size: 14px;
    }
}
