.dateContainer {
    margin: 0 auto;
    padding: 0;
    width: 70%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bolder;
}

.inactive {
    color: #7b7b7b!important;
    cursor: not-allowed!important;
}

.arrow {
    cursor: pointer;
    font-size: 30px;
    padding: 2px 15px 0 15px;
}

.arrow:hover {
    color: #7b7b7b;
}

#wodDate {
    line-height: 1;
}

/* media queries */
@media screen and (max-width: 775px) {
    .dateContainer {
        margin-top: 1rem;
    }

    #wodDate {
        font-size: 45px;
    }

    .arrow {
        padding: 0 10px;
    }
}

@media screen and (max-width: 530px) {
    #wodDate {
        font-size: 40px;
    }

    .arrow {
        font-size: 24px;
    }
}

@media screen and (max-width: 460px) {
    .dateContainer {
        margin-top: .7rem;
    }

    #wodDate {
        font-size: 34px;
    }

    .arrow {
        font-size: 22px;
        padding-bottom: 2px;
    }
}