.dateContainer {
    margin: 0 auto;
    padding: 0;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bolder;
}

.inactive {
    color: #7b7b7b!important;
    cursor: not-allowed!important;
}

.arrow {
    cursor: pointer;
    font-size: 30px;
    padding: 15px;
}

.arrow:hover {
    color: #7b7b7b;
}