.navbarContainer {
    width: 70%;
    height: auto;   
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 220px;
    margin-left: -40px;
    cursor: pointer;
}

.navbarLinks {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.navbarLinks > li {
    text-decoration: none;
    list-style-type: none;
    padding: 20px;
    cursor: pointer;
}

.navbarLinks > li:hover {
    color: #7b7b7b; 
}

.navbarLink {
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}

.navbarLink:hover {
    color: #7b7b7b;
    text-decoration: none;
}

.isActive {
    color: #7b7b7b;
}

.navbarLinks li:last-child {
    padding-right: 0;
}

/* media queries */
@media screen and (max-width: 1500px) {
    .navbarContainer {
        width: 80%;
    }
}

@media screen and (max-width: 1200px) {
    .navbarContainer {
        width: 90%;
    }
}

@media screen and (max-width: 975px) {
    .navbarContainer {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .navbarLinks > li {
        padding: 10px;
        font-size: 24px;
    }

    .logo {
        width: 150px;
        margin-left: -30px;
    }
}

@media screen and (max-width: 775px) {
    .navbarContainer {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 650px) {
    .logo {
        width: 150px;
        margin-left: -20px;
    }

    .navbarLinks {
        margin: 0;
    }

    .navbarLinks > li {
        padding: 10px;
        font-size: 20px;
    }
}


@media screen and (max-width: 530px) {
    .logo {
        width: 135px;
    }

    .navbarContainer {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 460px) {
    .navbarLinks > li {
        padding: 7px;
        font-size: 18px;
    }
}