.wodDescriptionContainer {
    display: flex;
    align-items: center;
    width: 70%;
    margin-top: 10px;
}

.leftDiv {
    width: 25%;
}

.boxLogo {
    height: 50%;
    width: 50%;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px 0;
    border: 1px solid #7b7b7b;
    -webkit-box-shadow: 0px 8px 13px -4px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 8px 13px -4px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 8px 13px -4px rgba(0, 0, 0, 0.68);
}

.boxLogo:hover {
    opacity: 0.8;
}

.wodDescriptionInnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.slideBtn {
    cursor: pointer;
    font-size: 20px;
}

.slideBtn:hover {
    color: #7b7b7b;
}

.slideBtnUp {
    margin-top: 5px;
}

.hide {
    display: none;
}

.wodDescription {
    text-align: center;
    justify-content: flex-end;
}

.wodDescriptionContainer > p {
    width: 25%;
    color: #fff;
}

.videoLinkDiv {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 22px;
}

.videoIcon {
    font-size: 26px;
    padding: 5px;
    cursor: pointer;
}

.videoLinkDiv > p {
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    margin: 0;
}

.videoLinkDiv:hover {
    color: #7b7b7b;
}

.wodDescription > p {
    text-align: center;
    margin: 1px;
    font-size: 24px;
}

.wodDescription > p:first-child {
    font-weight: bolder;
    font-size: 32px;
}

/* media queries */
@media screen and (max-width: 1500px) {
    .wodDescriptionContainer {
        width: 80vw !important;
    }
}

@media screen and (max-width: 1200px) {
    .wodDescriptionContainer {
        width: 90vw !important;
    }
}

@media screen and (max-width: 975px) {
    .boxLogo {
        max-height: 80px;
        max-width: 80px;
    }
}

@media screen and (max-width: 775px) {
    .wodDescription > p:first-child {
        font-size: 28px;
    }

    .wodDescription > p {
        font-size: 20px;
    }

    .videoLinkDiv > p {
        font-size: 20px;
    }
}

@media screen and (max-width: 650px) {
    .wodDescriptionContainer {
        width: 95vw !important;
    }
}

@media screen and (max-width: 510px) {
    .videoLinkDiv > p {
        display: none;
    }
}

@media screen and (max-width: 460px) {
    .wodDescription > p:first-child {
        font-size: 24px;
    }

    .wodDescription > p {
        font-size: 18px;
    }

    .leftDiv {
        width: 10%;
        flex-grow: 1;
    }

    .boxLogo {
        height: 90%;
        width: 90%;
        max-height: 54px;
        max-width: 54px;
        padding: 0;
        margin: 0;
    }

    .wodDescriptionInnerContainer {
        max-width: 80%;
        width: auto;
    }

    .videoLinkDiv {
        width: 10%;
        flex-grow: 1;
    }

    .wodDescription > p {
        margin: 0;
    }

    .slideBtn {
        font-size: 16px;
    }

    .slideBtnUp {
        margin-top: 0px;
    }
}
