.wodDescriptionContainer {
    display: flex;
    align-items: center;
    width: 70%;
    margin-top: 10px;
}

.mockDiv {
    width: 25%;
}

.wodDescription {
    width: 50%;
    text-align: center;
    justify-content: flex-end;
}

.wodDescriptionContainer > p {
    width: 25%;
    color: #fff;
}

.videoLinkDiv {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 22px;
}

.videoIcon {
    font-size: 26px;
    padding: 5px;
    cursor: pointer;
}

.videoLinkDiv > p {
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    margin: 0;
}

.videoLinkDiv:hover {
    color: #7b7b7b;
}

.wodDescription > p {
    text-align: center;
    margin: 1px;
    font-size: 24px;
}

.wodDescription > p:first-child {
    font-weight: bolder;
    font-size: 32px;
}

/* media queries */
@media screen and (max-width: 1500px) {
    .wodDescriptionContainer {
        width: 80vw!important;
    }
}

@media screen and (max-width: 1200px) {
    .wodDescriptionContainer {
        width: 90vw!important;
    }
}


@media screen and (max-width: 775px) {
    .wodDescription > p:first-child {
        font-size: 28px;
    }

    .wodDescription > p {
        font-size: 20px;
    }

    .videoLinkDiv > p {
        font-size: 20px;
    }

}

@media screen and (max-width: 650px) {
    .wodDescriptionContainer {
        width: 95vw!important;
    }
}

@media screen and (max-width: 460px) {
    .wodDescription > p:first-child {
        font-size: 26px;
    }

    .wodDescription > p {
        font-size: 18px;
    }

    .videoLinkDiv > p {
        display: none;
    }

    .mockDiv {
        width: 10%;
    }
    
    .wodDescription {
        width: 80%;
    }
    
    .videoLinkDiv {
        width: 10%;
    }

}