.footerContainer {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.footerContainer p {
    margin: 0 0 10px 0;
    font-size: 20px;
}

.heartIcn {
    margin: 0 5px;
    color: #4c69ba;
}

.hashtags {
    margin: 0 5px;
}