.footerContainer {
    /* bottom: 0; */
    /* position: absolute; */
    text-align: center;
    width: 100%;
}

.footerContainer p {
    margin: 0 0 10px 0;
    font-size: 20px;
}

.heartIcn {
    margin: 0 5px;
    color: #4c69ba;
}

.hashtags {
    margin: 0 5px;
}

#privacyPolicyLink {
    color: #fff;
}

#privacyPolicyLink:hover {
    text-decoration: none;
    color: #7b7b7b;
}

/* media queries */
@media screen and (max-width: 775px) {
    .footerContainer p {
        font-size: 18px;
    }
}

@media screen and (max-width: 475px) {
    .footerContainer p {
        font-size: 16px;
    }
}