.footerContainer {
    text-align: center;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footerContainer p {
    margin: .2rem 0 0 0;
    font-size: 20px;
}

.heartIcn {
    margin: 0 5px;
    color: #4c69ba;
}

.socialIcn {
    font-size: 21px;
    margin-left: 5px;
    color: #4c69ba;
}

.socialIcn:hover {
    color: #5b7bd5;
}

.hashtags {
    margin: 0 5px;
}

#privacyPolicyLink {
    color: #fff;
}

#privacyPolicyLink:hover {
    text-decoration: none;
    color: #7b7b7b;
}

/* media queries */
@media screen and (max-width: 775px) { 
    .footerContainer p {
        font-size: 18px;
    }

    .socialIcn {
        font-size: 19px;
    }
}

@media screen and (max-width: 475px) {
    .footerContainer p {
        margin: 0;
    }

    .footerContainer p {
        font-size: 14px;
    }

    .socialIcn {
        font-size: 16px;
    }
}
